/*Attribute Inspector button styling (delete buttons)*/
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset{
  background:url(../images/nps/toolbar_bg.png) repeat #545454;
  color:#fff;
  border: none;
}
.esriAttributeInspector div.atiButtons span.dijit span.dijitReset:hover{
  background:url(../images/nps/sidebar_header_active_bg.png) repeat-x #CEE1EC;
  color:#000;
}

/*Identity Manager Dialog*/
.claro .dijitDialogTitleBar {
  background:url(../images/nps/toolbar_bg.png) repeat-x #545454;
  color:#fff;
  border: solid 1px #545454;
}
.claro .dijitDialog {
  border: 1px solid #808080;
}
.claro .dijitDialogPaneActionBar .dijitButtonNode{
  background-image:none;
  border: solid 1px #545454;
  background:url(../images/nps/sidebar_header_active_bg.png) repeat-x #CEE1EC;
}
.claro .dijitSplitContainer-dijitContentPane, .claro .dijitBorderContainer-dijitContentPane{
  background-color: rgb(231,231,231);
}
.claro .dijitSplitContainer-child, .claro .dijitBorderContainer-child{
  border:none;
}